[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1
collective.recipe.vscode = >=0.1.6

# Added by buildout at 2021-08-30 15:47:04.860152
collective.recipe.vscode = 0.1.7
createcoverage = 1.5
flake8 = 3.9.2
mccabe = 0.6.1
plone.recipe.codeanalysis = 3.0.1
pycodestyle = 2.7.0
pyflakes = 2.3.1
